@using CnD.CommunalPayments.Contracts.Models.Invoices.Response
@using CnD.CommunalPayments.Front.ViewModels.Invoices

<tr>
    <!--Чек-бокс-->
    <TableColumnComponent ColClass="text-center align-content-center">
        <ColFragment>
            <input onclick="return false;" type="checkbox" @bind="Invoice.IsPaid" />
        </ColFragment>
    </TableColumnComponent>
    <!--Период-->
    <TableColumnComponent>
        <ColFragment>
            @Invoice.Period
        </ColFragment>
    </TableColumnComponent>
    <!--Поставщик-->
    <TableColumnComponent>
        <ColFragment>
            @Invoice.Provider
        </ColFragment>
    </TableColumnComponent>
    <!--Сумма-->
    <TableColumnComponent ColClass="text-right">
        <ColFragment>
            @Invoice.Sum
        </ColFragment>
    </TableColumnComponent>
    <!--Блок кнопок-->
    <TableColumnComponent ColClass="text-center">
        <ColFragment>
            <button class="btn btn-sm btn-info" @onclick="(() => EditEvent.InvokeAsync(Invoice.Id))">Изменить</button>
            <button class="btn btn-sm btn-danger" @onclick="(() => RemoveEvent.InvokeAsync(Invoice.Id))">Удалить</button>
            <button class="btn btn-sm btn-warning" @onclick="(()=>SetServiceEvent.InvokeAsync(Invoice.Id))">Услуги</button>
        </ColFragment>
    </TableColumnComponent>
    @*Блок оплаты*@
    <TableColumnComponent ColClass="text-center">
        <ColFragment>
            @if (Invoice.IsPaid)
            {
                <button class="btn btn-sm btn-success" @onclick="()=>PayEvent.InvokeAsync(Invoice.Id)">Оплачено</button>
            }
            else
            {
                <button class="btn btn-sm btn-outline-success" @onclick="()=>PayEvent.InvokeAsync(Invoice.Id)">Оплатить</button>
            }
        </ColFragment>
    </TableColumnComponent>
</tr>

@code {
    [Parameter] public InvoicesListItemViewModel Invoice { get; set; }
    [Parameter] public EventCallback<int> RemoveEvent { get; set; }
    [Parameter] public EventCallback<int> EditEvent { get; set; }
    [Parameter] public EventCallback<int> SetServiceEvent { get; set; }
    [Parameter] public EventCallback<int> PayEvent { get; set; }
}
